<form method = "post" action = "/student">
  <label for="first-name"> First-Name:</label>
  <input id="first-name" type="text" name="first_name"/>

  <label for="second-name"> Second-Name:</label>
  <input id="second-name" type="text" name="second_name"/>

  <label for="house-select"> select House:</label>
  <select id="house-select" name="house_id"/>
    <option value=1>Gryffindor</option>
    <option value=2>Ravenclaw</option>
    </select>

    <label for="age"> age:</label>
    <input id="age" type="number" name="age"/>



    <input type="submit" value="create student">


  </form>
